@media screen and (min-width: 450px) {
    body #menuRequest{
        display: none;
    }
}

#menuRequest{
    position: absolute;
    background-color: #333;
    z-index: 10;
    width: 220px;
    height: 210px;
    left: 100%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menuRequest select{
    margin-top: 20px;
    padding: 5px;
    background-color: #242424;
    border: none;
    cursor: pointer;
    color: rgb(190, 190, 190);
}
#menuRequest select:focus{
    outline: none;
}
#menuRequest input{
    margin-top: 40px;
    padding: 6px;
    border: none;
    background-color: #242424;
    color: rgb(190, 190, 190);
}
#menuRequest input:focus{
    outline: none;
}
#menuRequest button{
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border: none;
    background-color: #242424;
    color: rgb(190, 190, 190);
    cursor: pointer;
}
#menuRequest.active{
    left: calc(100% - 220px);
}